<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<br><br></br></br>

<p id="notice"><%= notice %></p>

<h1>Userphotos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Alt</th>
      <th>Resim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userphotos.each do |userphoto| %>
      <tr>
        <td><%= userphoto.alt %></td>
        <td><%= image_tag userphoto.resim.url(:thumb) if userphoto.resim? %> </td>
        <td><%= link_to 'Show', userphoto %></td>
        <td><%= link_to 'Edit', edit_userphoto_path(userphoto) %></td>
        <td><%= link_to 'Destroy', userphoto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

    <% if !(Userphoto.find_by(user_id: current_user.id))%>
        <%= link_to 'New Userphoto', new_userphoto_path %>
    <% end %>

<% end %>