
<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="/">Ana Sayfa</a>
    
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                    <li>
                        <a href="/userphotos" class="btn btn-warning text-dark btn-banner">Resim Yükle</a>
                    </li>
                    <li>
                        <a href="/online_oda"  style="margin-left:7px;" class="btn btn-warning text-dark btn-banner">Yardımlaşma Odası</a>
                    </li>
                    <li class="nav-item" style="margin-left:7px;">
                        <a class="nav-link"  style="margin-left:7px; color:green">Giriş Yapılan Mail : <strong><%= current_user.email %></strong></a>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Profil Güncelle', edit_user_registration_path, :class => 'btn btn-warning text-dark btn-banner' ,:style=>"margin-left:7px;" %>    
                    </li>
                    <li class="nav-item">
                        <%= link_to "Çıkış Yap", destroy_user_session_path, method: :delete, :class => 'btn btn-warning text-dark btn-banner' ,:style=>"margin-left:7px;" %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to"Giriş Yap", new_user_session_path, :class => 'btn btn-warning text-dark btn-banner' ,:style=>"margin-left:7px;" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Kayıt Ol", new_user_registration_path, :class => 'btn btn-warning text-dark btn-banner' ,:style=>"margin-left:7px;" %>
                    </li>
                <% end %> 
            </ul>
        </div>
    </div>
</nav>
