<nav class="navbar navbar-light navbar-expand-lg" style="background-color:lightgreen;" >
  <a class="navbar-brand" href="/?sayfayi_yenile=true">Ana Sayfa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <% if user_signed_in? %>
            <li>
                <a href="/faydalars" class="nav-link">Faydalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:green">Giriş Yapılan Mail : <strong><%= current_user.email %></strong></a>
            </li>
            <li class="nav-item">
                <%= link_to 'Profil Güncelle', edit_user_registration_path, :class => 'nav-link' %>    
            </li>
            <li class="nav-item">
                <%= link_to "Çıkış Yap", destroy_user_session_path, method: :delete, :class => 'nav-link' %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to"Giriş Yap", new_user_session_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to "Kayıt Ol", new_user_registration_path, :class => 'nav-link' %>
            </li>
        <% end %> 
        <li>
            </hr>
        </li>
        <!--<li>
            <a href="/on_taraf/ana_sayfa/index" class="nav-link">Ana Sayfa</a>
        </li>
        <li>
            <a href="/on_taraf/hizmetlerimiz/index" class="nav-link">Hizmetlerimiz</a>
        </li>
        <li>
            <a href="/on_taraf/urun_resimleri/index" class="nav-link">Ürün Resimleri</a>
        </li>
        <li>
            <a href="/on_taraf/iletisim/index" class="nav-link">İletişim</a>
        </li>-->
    </ul>
  </div>
</nav>
