<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>

        <div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						
						<div class="card-body msg_card_body">
						    <% @mesajlar.each do |mesaj| %>
						        <% if(mesaj.user_id) %>
    						            <% if(mesaj.user_id == current_user.id) %>
    						                <div class="d-flex justify-content-end mb-4">
        						                <div class="msg_cotainer_send" style="padding-right:40px;">
                									<%= mesaj.mesaj%></br>
                									<span class="msg_time" style="min-width:200px;"><%= mesaj.created_at%></span>
                								</div>
        						                <div class="img_cont_msg">
                								    <% if(Userphoto.find_by(user_id: current_user)) %>
                								        <img src="<%= image_path(Userphoto.find_by(user_id: current_user.id).resim)%>" class="rounded-circle user_img_msg">
                								    <% else %>
                								        <img src="https://www.freeiconspng.com/uploads/profile-icon-9.png" class="rounded-circle user_img_msg">
                								    <% end %>
                								</div>
                							</div>
    						            <% else %>
    						                <div class="d-flex justify-content-start mb-4">
        						                <div class="img_cont_msg">
                								    <% if(Userphoto.find_by(user_id: mesaj.user_id)) %>
                								        <img src="<%= image_path(Userphoto.find_by(user_id: mesaj.user_id).resim)%>" class="rounded-circle user_img_msg">
                								    <% else %>
                								        <img src="https://www.freeiconspng.com/uploads/profile-icon-9.png" class="rounded-circle user_img_msg">
                								    <% end %>
                								</div>
            						            <div class="msg_cotainer">
                									<%= mesaj.mesaj%> </br>
                									<span class="msg_time" style="min-width:200px;"><b><%= User.find_by(id: mesaj.user_id).email%></b> <%= mesaj.created_at%></span>
                								</div>
            								</div>
    						            <% end %>
        							
    							<% end %>
                            <% end %>
							
						</div>
						<form method="get" action="/messajcontroller/create">
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<input type="text" name="message" class="form-control type_msg" placeholder="Mesaj yazınız ...">	
								<div class="input-group-append">
									<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
        </div>
        
<% end %>  